@use "./variables" as *;

//Full site styling
body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin: 0;
  padding: 0rem;
  background-color: map-get($background-colour, page);
  height: 100vh;
}


//main title
//full page section styling
header {
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

//text styling 
.intro {
  background: transparent;
  backdrop-filter: blur(3px);
  margin: 0.5rem;
  padding: 2rem;
  border-radius: 4rem;

  color: map-get($font-color, intro);
  font-weight: map-get($font-weight, intro);
  text-align: center;
  font-size: 4rem;

  @media (max-width: 480px) {
    font-size: 2rem;
    padding: 1rem;
  }

  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 3rem;
    padding: 1rem;
  }
}


//container for cards
.allcards {
  border-radius: 1rem;
  background: transparent;
  backdrop-filter: blur(3px);
  display: grid;
  width: 80%;
  max-width: 1300px;
  padding: 2rem;
  margin: auto;
  grid-gap: 1rem;
  justify-content: start;
  //fits cards in rows
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  @media (max-width: 480px) {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

//card styling 
.card {
  border-radius: 1rem;
  background-color: map-get($background-colour, card);
  overflow: hidden;
  //text styling
  &__title {
    color: map-get($font-color, title);
    text-align: center;
    margin: 1rem;
  }
  &__description {
    color: map-get($font-color, body);
    margin: 1rem;
  }
}

//styling for sections with columns of text
.column__description {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  
  @media (max-width: 480px) {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

//stylin for image card
.image {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0%;
  margin: 0%;
  filter: grayscale(0.75);
  &:hover {
    filter: grayscale(0);
    transition: all 500ms ease-in;
  }
}

.img {
  display: block;
  aspect-ratio: 1/1;
  max-width: 100%;
  height: auto;
  object-fit: cover; 
}
