body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0rem;
  background-color: lightblue;
  height: 100vh;
}

header {
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.intro {
  background: transparent;
  backdrop-filter: blur(3px);
  margin: 0.5rem;
  padding: 2rem;
  border-radius: 4rem;
  color: white;
  font-weight: 1600;
  text-align: center;
  font-size: 4rem;
}
@media (max-width: 480px) {
  .intro {
    font-size: 2rem;
    padding: 1rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .intro {
    font-size: 3rem;
    padding: 1rem;
  }
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  padding: 0%;
  margin: 0%;
  border: 0%;
  filter: grayscale(0.75);
}
.img:hover {
  filter: grayscale(0);
  transition: all 500ms ease-in;
}

.allcards {
  border: 0.1rem solid black;
  border-radius: 1rem;
  background: transparent;
  backdrop-filter: blur(3px);
  display: grid;
  width: 80%;
  max-width: 1300px;
  padding: 2rem;
  margin: auto;
  grid-gap: 1rem;
  justify-content: start;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
@media (max-width: 480px) {
  .allcards {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.card {
  border-radius: 1rem;
  background-color: #f0e6e6;
  margin: 0.5rem;
}
.card__title {
  color: black;
  text-align: center;
  margin: 0.5rem;
}
.card__description {
  color: black;
  margin: 0.5rem;
}

.column__description {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}
@media (max-width: 480px) {
  .column__description {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}